{
	"root": true,
	"extends": [
		"eslint:recommended"
	],
	"env": {
		"es6": true,
		"browser": true
	},
	"rules": {
		"no-unused-vars": ["error", {
			"vars": "all",
			"args": "none"
		}],
		"semi": ["error", "always"],
		"quotes": ["error", "single"]
	}
}
